In [8]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

print("-: 'Interactive Shell Import Successfully' :-")

-: 'Interactive Shell Import Successfully' :-

In [9]:
import pandas as pd
import seaborn as sns
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms

from scipy.stats import iqr
from statsmodels.compat import lzip

# Python Assignment Part A

In [10]:
#Loading the data set to dataframe
df_match = pd.read_excel("../data/IPL2023.xlsx",0)
df_ball = pd.read_excel("../data/IPL2023.xlsx",1)

### Data Frame Related Information

In [11]:
print(type(df_match))
print(df_match.shape)

<class 'pandas.core.frame.DataFrame'>
(74, 18)

In [12]:
print(type(df_ball))
print(df_ball.shape)

<class 'pandas.core.frame.DataFrame'>
(17734, 19)

In [13]:
print('Match Info -:',df_match.columns)
print('____________________________________________________________________________________________________________')
print('Match each Ball Info -:',df_ball.columns)

Match Info -: Index(['season', 'date', 'match_no', 'match_type', 'venue', 'location',
       'team1', 'team2', 'toss_won', 'toss_decision', 'umpire1', 'umpire2',
       'reserve_umpire', 'match_referee', 'winner', 'winner_runs',
       'winner_wickets', 'man_of_match'],
      dtype='object')
____________________________________________________________________________________________________________
Match each Ball Info -: Index(['match_no', 'ballnumber', 'inningno', 'over', 'outcome', 'inn1Team',
       'inn2Team', 'bowl_team', 'bat_team', 'Bowler', 'Batsman', 'comment',
       'Wicket', 'WideRuns', 'LegBye', 'NoBall', 'Bye', 'Runs1', 'bRuns'],
      dtype='object')

In [114]:
df_ball.count()
df_ball.shape[0]
missing=df_ball.shape[0]-df_ball.count()
print(np.count_nonzero(df_ball.isnull()))

match_no      17734
ballnumber    17734
inningno      17734
over          17734
outcome       17734
inn1Team      17734
inn2Team      17734
bowl_team     17734
bat_team      17734
Bowler        17734
Batsman       17734
comment       17734
Wicket        17734
WideRuns      17734
LegBye        17734
NoBall        17734
Bye           17734
Runs1         17734
bRuns         17734
dtype: int64

17734

0

## Question1 - Which player took the most wickets in IPL 2023? Is it same at the group stage?

In [113]:
grp_agg_by_Ball= df_ball.groupby('Bowler').agg(Wicket=('Wicket', 'sum')).reset_index()
print('"The player took most wickets in IPL 2023 is :-"')
print('-------------------------------------------------------------------')
most_wicket = grp_agg_by_Ball.sort_values('Wicket').tail(1)
print(most_wicket)

"The player took most wickets in IPL 2023 is :-"
-------------------------------------------------------------------
          Bowler  Wicket
82  Mohit Sharma      35

In [67]:
fulldata = pd.merge(df_match,df_ball,how='inner', left_on='match_no', right_on='match_no')

In [127]:
groupstage =(mergedata['match_type']=='Group')
groupstagedata=fulldata[groupstage]
grpstg_agg_by_Ball= groupstagedata.groupby('Bowler').agg(Wicket=('Wicket', 'sum')).reset_index()
print('"The player took most wickets in Group Stage in IPL 2023 is :-"')
print('-------------------------------------------------------------------')
most_wicket = grpstg_agg_by_Ball.sort_values('Wicket').tail(1)
print(most_wicket)

"The player took most wickets in Group Stage in IPL 2023 is :-"
-------------------------------------------------------------------
         Bowler  Wicket
99  Rashid Khan      26

## Question2 :Which team scored the second lowest team total in IPL 2023?

In [126]:
team_runs = df_ball[['bat_team','Runs1']]
grp_by_total = (team_runs.groupby('bat_team').sum('Runs1')).reset_index()
grp_by_total['TotalRuns'] = grp_by_total['Runs1']
print('Total Runs Scrored by teams in IPL2023 :')
print('----------------------------------------------------------------------------------------------')
print((grp_by_total.sort_values('TotalRuns')))
print('----------------------------------------------------------------------------------------------')
print('Team Scored the 2nd lowest team in IPL2023 :',(grp_by_total.sort_values('TotalRuns')).iloc[1].bat_team, ': With total Runs -',(grp_by_total.sort_values('TotalRuns')).iloc[1].TotalRuns)

Total Runs Scrored by teams in IPL2023 :
----------------------------------------------------------------------------------------------
                      bat_team  Runs1  TotalRuns
1               Delhi Capitals   2178       2178
4         Lucknow Super Giants   2348       2348
9          Sunrisers Hyderabad   2374       2374
7             Rajasthan Royals   2414       2414
3        Kolkata Knight Riders   2461       2461
6                 Punjab Kings   2475       2475
8  Royal Challengers Bangalore   2499       2499
0          Chennai Super Kings   2715       2715
5               Mumbai Indians   2869       2869
2               Gujarat Titans   3049       3049
----------------------------------------------------------------------------------------------
Team Scored the 2nd lowest team in IPL2023 : Lucknow Super Giants : With total Runs - 2348

## Question2 :Best batsman if you consider only the 13th over?

In [199]:
over_13_data = df_ball[df_ball['over'].between (13.1,13.6)]
best_13th_over_batsman= over_13_data.groupby('Batsman').sum('bRun').reset_index().sort_values(['bRuns'],ascending=[False])
print('Best 13th Over Batsman in IPL 2023 -:',best_13th_over_batsman.iloc[0].Batsman )

Best 13th Over Batsman in IPL 2023 -:  Shivam Dube

## Question 10. Which day is better for Rohit Sharma as a batsman?

In [201]:
rohit_sharma =  fulldata[fulldata['Batsman'].str.strip()=='Rohit Sharma']
rohit_best = rohit_sharma.groupby('date').sum('bRun').sort_values(['bRuns'],ascending=[False]).reset_index()
print('The best day for Rohit Sharma as batsman in IPL 2023 -:',rohit_best.iloc[0].date, 'with total scored -:',rohit_best.iloc[0].bRuns,'Runs' )

The best day for Rohit Sharma as batsman in IPL 2023 -: 2023-04-11 00:00:00 with total scored -: 65 Runs

# Python Assignment Part B

In [208]:
#Loading the data set to dataframe
df_auto = pd.read_csv("../data/Auto.csv")

In [229]:
print('First five records: ')
df_auto.head(5)
print('-------------------------------------------------------------------')
print("Dataframe Shape :",df_auto.shape)
print('-------------------------------------------------------------------')
df_auto.info()

First five records:

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,American,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,American,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,American,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,American,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,American,ford torino

-------------------------------------------------------------------
Dataframe Shape : (397, 9)
-------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        397 non-null    int64
 5   acceleration  397 non-null    float64
 6   year          397 non-null    int64
 7   origin        397 non-null    object
 8   name          397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [232]:
print("Finding missing values column wise")
df_auto.count()
print('-------------------------------------------------------------------')
missing=df_auto.shape[0]-df_auto.count()
missing
print('-------------------------------------------------------------------')

Finding missing values column wise

mpg             397
cylinders       397
displacement    397
horsepower      392
weight          397
acceleration    397
year            397
origin          397
name            397
dtype: int64

-------------------------------------------------------------------

mpg             0
cylinders       0
displacement    0
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

-------------------------------------------------------------------

5